<mat-card class="form-container">
  <mat-card-content>
    <div [formGroup]="Dataform">
      <mat-form-field class="form-control">
        <input matInput placeholder="Email" formControlName="email">
        <mat-error *ngIf="Dataform.controls['email'].errors?.email && !(Dataform.controls['email'].errors?.required)">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="Dataform.controls['email'].errors?.required">
          Email is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput placeholder="Username" formControlName="username">
        <mat-error *ngIf="Dataform.controls['username'].errors?.required">
          Username is required.
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-control">
        <input matInput type="password" placeholder="password" [type]="hide ? 'password' : 'text'"
          formControlName="password" name="password">
        <button mat-icon-button matSuffix (click)="hide = !hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="Dataform.controls['password'].errors?.required">
          Password is required.
        </mat-error>
      </mat-form-field>
      <br>
      <button mat-flat-button color="primary" [disabled]="!Dataform.valid" (click)="submitData()">Submit</button>
    </div>
  </mat-card-content>
</mat-card>