table {
    width: 100%;
    margin: 0 auto;
}

.center {
    width: 60%;
    margin: 0 auto;
}

.error-section {
    background-color: #fa9999;
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 10px;

}

.filter-section {
    width: 100%;
}